body {
    font-family: "Open Sans";
    color: #202223;
}

h2 {
    display: block;
    text-align: center;
    margin-top: 80px;
}

.centered-section {
    margin: 10%;
}

.dev-image {
    display: block;
    margin: 0 auto;
    width: min(300px, 80%);
}

@media only screen and (max-device-width: 768px) {
    .centered-section {
        margin: 50% 10% 0 10%;
    }
}